.section-address {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;
  height: 954px;
  background-image: url(../images/bg-building.svg);
  background-size: cover;
  margin-top: -99px;
  @media (max-width: 1000px) {
    background-image: none;
    background-color: #131313;
  }
}

.request-form2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-direction: column;

  align-items: center;
  background-color: #131313;
  max-width: 883px;
  margin-left: 18px;
  margin-top: -285px;
  margin-bottom: 50px;
  input {
    @media (max-width: 1000px) {
      max-width: 300px;
      background-color: none;
      border-color: #00000008;
    }
  }
  @media (max-width: 1000px) {
    max-width: 375px;
    display: block;
    background-color: #131313;

    order: 1;
    margin-left: 0;
    padding-left: 20px;
    margin-top: -190px;
  }
}
.request-form2 div {
  display: flex;

  align-items: center;
  width: 516.82px;
  gap: 58px;

  @media (max-width: 1000px) {
    display: block;
    width: 340px;
  }
}
.request-form2 div input {
  width: 231px;
  @media (max-width: 1000px) {
    width: 340px;
    margin-bottom: 58px;
  }
}
.request-form2 h3 {
  font-size: 20px;
  line-height: 27.72px;
  text-align: center;
  color: #ffffff;
  padding-top: 32px;
  padding-bottom: 45px;
  @media (max-width: 1000px) {
    padding-right: 20px;
    padding-top: 170px;
  }
}
.request-form2 label {
  color: #ffffff80;
  font-size: 13px;
  line-height: 21.28px;
  @media (max-width: 1000px) {
    color: #ffffff80;
  }
}
.request-form2 label input {
  margin-bottom: 40px;
  border-style: none none solid none;
  @media (max-width: 1000px) {
    margin: 0;
  }
}
.input-question {
  width: 516.82px;
  @media (max-width: 1000px) {
    width: 340px;
    padding: 0;
  }
}
.input-question input {
  max-width: 516.82px;
}
.request-form2 label input {
  background-color: #131313;
  padding: 5px 0 7px 0;
  border-color: #ffffff26;
}
.request-form2 label input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form2 label input::-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form2 label input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form2 label input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form2 label input::placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
  @media (max-width: 1000px) {
    color: #ffffff;
  }
}

.request-form2 label input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.request-form2 label input:focus::-moz-placeholder {
  visibility: hidden;
}

.request-form2 label input:focus:-ms-input-placeholder {
  visibility: hidden;
}

.request-form2 label input:focus::-ms-input-placeholder {
  visibility: hidden;
}

.request-form2 label input:focus::placeholder {
  visibility: hidden;
  @media (max-width: 1000px) {
    color: #ffffff;
  }
}
.submit-button {
  -webkit-box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
  width: 200px;
  height: 51px;
  font-size: 13px;
  margin-bottom: 32px;
  @media (max-width: 1000px) {
    width: 340px;
    height: 51px;
    background-color: #e3b873;
    margin-bottom: -5px;
  }
}
.first-checkbox3 {
  margin-top: 5px;
  margin-bottom: 45px;

  align-self: flex-end;
  margin-right: 66px;
  margin-left: 60px;
  @media (max-width: 1000px) {
    width: 340px;
    padding-right: 69px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: 52px;
    margin-left: 0;
  }
}
.section-address p {
  font-family: "Yeseva One";
  font-size: 20px;
  line-height: 27.72px;
  text-align: center;
  color: #e3b873;
  text-transform: uppercase;
  font-weight: 400px;
  margin-bottom: 20px;
  br {
    @media (max-width: 1000px) {
      display: none;
    }
  }
  @media (max-width: 1000px) {
    order: 2;
    font-size: 18px;
    max-width: 320px;
  }
}
.contact-icons {
  display: flex;
  gap: 16px;
  margin-bottom: 47px;
  @media (max-width: 1000px) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
}
.map {
  img {
    @media (max-width: 1000px) {
      width: 39px;
      height: 39px;
    }
  }
  @media (max-width: 1000px) {
    width: 340px;
    height: 248px;

    order: 1;
    margin-bottom: 60px;
  }
}
