.container-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -321.5px;
    @media (max-width: 874px) {
      background-color: #131313;
      height: 868px;
  }
  }
  .container-control h3 {
    color: #ffffff;
    font-size: 20px;
    line-height: 27.72px;
    text-align: center;
    padding-bottom: 12px;
    @media (max-width: 874px) {
      font-size: 22px;
      padding-bottom: 20px;
      margin-top: -47px;
  }
  }
  .container-control p {
    font-size: 18px;
    padding-bottom: 82px;
    text-align: center;
    line-height: 36.83px;
    font-weight: 400;
    @media (max-width: 874px) {
      font-size: 11px;
      padding: 0 18px 80px 18px;
      line-height: 169.8%;
      color: #ffffff;
      max-width: 375px;
      background-color: #131313;
  }
  br {
    @media (max-width: 874px) {
      display: none;
  }
  }
  }
  
  .video-control {
    max-width: 100%;
    width: 919px;
    height: 538px;
    background-image: url(../images/video.png);
    background-position: center;
    background-size: 100% 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media (max-width: 874px) {
      height: 260px;
  }
  }
  .video-control img {
    @media (max-width: 874px) {
      width: 60px;
    height: 60px;
  }
  .video-control hr {
    @media (max-width: 874px) {
      margin-bottom: 20px;
  }
  }
  }
  .video-control img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    @media (max-width: 874px) {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
  }
  }
  hr {
    width: 53px;
    border-radius: 30px;
    border: 1px solid #e3b873;
    margin-top: -10px;
    margin-bottom: 29px;
  }
  .form1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 52.5px;
    margin-bottom: 0;
    margin-top: 4px;
    @media (max-width: 874px) {
      -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 60px;
    background-color: #131313;
  }
  }
  .form1 label {
    color: #36363680;
    font-size: 13px;
    @media (max-width: 874px) {
      color: #ffffff80;
  }
  }
  .form1 input {
    border-style: none none solid none;
    border-color: #3636364d;
    width: 231px;
    margin: 4px 0 0 0;
    padding-bottom: 6px;
    @media (max-width: 874px) {
      width: 340px;
      background-color: #131313;
      border-color: #ffffff8b;
  }
  }
 
  
  .form1 input:focus::placeholder {
    visibility: hidden;
    @media (max-width: 874px) {
      color: #ffffff;
  }
  }
  .form1 input:focus {
    outline: none;
    border: 3px solid #e3b873;
    @media (max-width: 874px) {
      color: #ffffff;
  }
  }
  .form1 input::-webkit-input-placeholder {
    color: #363636;
  }
  .form1 input::-moz-placeholder {
    color: #363636;
  }
  .form1 input:-ms-input-placeholder {
    color: #363636;
  }
  .form1 input::-ms-input-placeholder {
    color: #363636;
  }
  .form1 input::placeholder {
    color: #363636;
  }
  .label {
    cursor: pointer;
  }
  .checkbox {
    display: none;
  }
  .fake {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #e3b873;
    color: #fff;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .fake::before {
    content: "\2714";
    opacity: 0;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .checkbox:checked + .fake::before {
    opacity: 1;
  }
  .text {
    padding-left: 6px;
    color: #181818;
    font-size: 14px;
    @media (max-width: 874px) {
      color: #ffffff;
      font-size: 14px;
      padding-left: 5px;
  }
  }
  .buttonmobile {
    display: none;
    @media (max-width: 874px) {
      display: block;
      margin: -24px auto 0 auto;
      width: 340px;
      height: 51px;
      font-size: 13px;
  }
  }
  .buttondesktop {
    width: 200px;
    height: 51px;
    -webkit-box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    margin-top: -6px;
    font-size: 13px;
    line-height: 26.6px;
    padding-top: 6px;
    @media (max-width: 874px) {
      display: none;
  }
  }
  .first-checkbox {
    margin-top: 33px;
    margin-right: 4px;
    @media (max-width: 874px) {
      text-align: left;
      width: 340px;
      margin-bottom: 0;
  }
  }
  .camera-control {
    @media (max-width: 874px) {
      margin-bottom: 20px;
  }
  }