.container-repair {
  display: flex;

  flex-direction: column;

  align-items: center;
  margin-top: 148px;
  @media (max-width: 874px) {
    margin: 55px 0 0 0;
  }
}
.container-repair h3 {
  margin-bottom: 17px;
  font-size: 20px;
  @media (max-width: 874px) {
    font-size: 22px;
  }
}
.rep-logo {
  margin-bottom: 24px;
  @media (max-width: 874px) {
    margin-bottom: 40px;
  }
}
.description-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  margin-bottom: 127px;
  justify-content: center;
  align-items: center;
  @media (max-width: 874px) {
    display: block;
  }
}
.rep-card {
  display: flex;

  flex-direction: column;
  align-items: center;
  @media (max-width: 874px) {
    align-items: flex-start;
  }
}
.rep-card img {
  max-width: 100%;
  @media (max-width: 874px) {
    width: 340px;
    height: 365.15px;
  }
}

.redecor-repair {
  width: 330px;
  background-color: #ffffff;

  box-shadow: 10px 10px 20px 0px #00000008;
  margin-top: -128px;
  padding: 26px 0 0 37px;
  @media (max-width: 874px) {
    width: 270px;
    position: relative;
    margin-bottom: 34px;
  }
}
.redecor-repair h4 {
  font-family: "Yeseva One";
  color: #363636;
  font-size: 18px;
  padding-bottom: 10px;
  margin-left: -3.5px;
  @media (max-width: 874px) {
    font-size: 15px;
    line-height: 20.79px;
  }
}
.redecor-repair ul {
  padding-left: 11.6px;
  @media (max-width: 874px) {
    padding-left: 5px;
  }
}
.redecor-repair li {
  font-size: 13px;
  line-height: 26.6px;
  color: #959595;
  text-indent: -5px;
  @media (max-width: 874px) {
    line-height: 22.07px;
  }
}
.repair-button {
  width: 228px;
  height: 54px;

  box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  font-family: "Yeseva One";
  font-size: 18px;
  line-height: 24.95px;
  margin-top: 17px;
  position: relative;
  left: -36px;
  @media (max-width: 874px) {
    width: 190.43px;
    height: 40px;

    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-size: 15px;
  }
}
.request-container {
  background-image: url(../images/rep\ bg.png);
  background-repeat: no-repeat;
  background-size: 49% 100%;

  display: flex;

  flex-wrap: wrap;

  column-gap: 205px;
  margin-top: 80px;
  @media (max-width: 1257px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 874px) {
    display: none;
  }
}

.services {
  font-size: 14px;
  color: #363636;
  margin-left: 119px;
  margin-top: 10px;
}
.service-flex1 {
  display: flex;

  align-items: center;
  padding-bottom: 90px;
}
.service-flex1 img {
  padding-left: 3px;
}
.service-flex1 p {
  line-height: 19.4px;
  padding-top: 4px;
}
.service-flex2 {
  display: flex;

  align-items: center;
  margin-top: -30px;
}
.service-flex2 p {
  text-indent: -6px;
}
.service-flex2 img {
  padding-left: 6px;
  padding-top: 5px;
}
.service-flex3 {
  display: flex;

  align-items: center;
  padding-top: 50px;
  text-indent: -10px;
}
.service-flex3 img {
  padding-left: 8px;
  padding-top: 5px;
}
.service-flex4 {
  display: flex;

  align-items: center;
  padding-top: 51px;
}
.service-flex4 img {
  padding-left: 6px;
  margin-top: 4px;
}
.service-flex4 p {
  padding-bottom: 12px;
  margin-left: -8px;
}

.request-form {
  display: block;
  background-color: #131313;
  width: 506px;
  padding: 0 49px 10px 49px;
  margin-left: 5px;
  margin-bottom: 40px;
  margin-top: 22px;
}
.request-form p {
  font-size: 18px;
  line-height: 25.78px;
  text-align: center;
  color: #ffffff;
  padding-top: 27px;
  padding-bottom: 39px;
}
.request-form label:not(.text2) {
  color: #ffffff80;
  font-size: 13px;
  line-height: 21.28px;
  margin-bottom: 5px;
}
.request-form input {
  margin-bottom: 55px;
  border-style: none none solid none;
}

.request-form input {
  background-color: #131313;
  width: 408px;
  border-color: #ffffff26;
}
.request-form input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form input::-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}
.request-form input::placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 22.92px;
}

.request-form input:focus::-webkit-input-placeholder {
  visibility: hidden;
}

.request-form input:focus::-moz-placeholder {
  visibility: hidden;
}

.request-form input:focus:-ms-input-placeholder {
  visibility: hidden;
}

.request-form input:focus::-ms-input-placeholder {
  visibility: hidden;
}

.request-form input:focus::placeholder {
  visibility: hidden;
}
.first-checkbox2 {
  margin-top: -35px;
  margin-bottom: 40px;
}
.text2 {
  color: #ffffff;
  font-style: 14px;
  line-height: 22.92px;
  padding-left: 6.5px;
}
.call-button {
  margin-left: 195px;
  width: 213px;
  height: 51px;
  font-size: 13px;
  margin-bottom: 16px;
}

.piggy {
  display: flex;

  align-items: center;
  margin-left: 577px;
  position: relative;
  top: -10px;
  margin-bottom: 20px;
  @media (max-width: 1257px) {
    display: none;
  }
}

.piggy p {
  padding-left: 4px;
  padding-bottom: 20px;
  color: #e3b873;
  font-size: 18px;
  line-height: 25.78px;
  text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
